{% extends 'layout.html' %}
{% block content %}
  <h1>Página de Teste</h1>
  <p>Use esta página para validar chamadas ao Zabbix e ver dados brutos.</p>
  <div class="table-responsive">
  <table class="table table-sm table-bordered">
    <thead class="table-light"><tr><th>Hostname</th><th>IP</th><th>MAC</th><th>Available</th></tr></thead>
    <tbody>
    {% for h in hosts %}
    <tr>
      <td>{{ h.host }}</td>
      <td>{{ (h.interfaces[0].ip if h.interfaces) or '' }}</td>
      <td>{{ (h.inventory.macaddress_a if h.inventory) or '' }}</td>
      <td>{{ h.available }}</td>
    </tr>
    <tr>
      <td colspan="4"><pre>{{ h | tojson(indent=2) }}</pre></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}
